<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /shippapp
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /shippapp/index.php/$1 [L]
</IfModule>
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /shippapp/index.php
</IfModule>